name: Release

on:
  push:
    tags:
    - 'v*'

jobs:
  create-release:
    name: create-github-release
    runs-on: ubuntu-slim
    steps:
      - id: create_release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false
      - run: |
          echo "${{ steps.create_release.outputs.upload_url }}" > release_url.txt
      - uses: actions/upload-artifact@v5
        with:
          name: release_url
          path: release_url.txt

  publish-release:
    needs: [create-release]
    name: upload-release-asset-${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            cross: false
          - os: macos-latest
            target: aarch64-apple-darwin
            cross: false
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            cross: false
          - os: ubuntu-latest
            target: x86_64-unknown-linux-musl
            cross: true
            
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
            toolchain: 'stable'
      - id: get_version
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          result-encoding: string
          script: |
            return 'mdbook-inpage-tab-'+context.payload.ref.replace(/refs\/tags\//, '')+'-${{ matrix.target }}';
      
      - run: RUSTFLAGS=-Astatic_mut_refs cargo install cross --git https://github.com/cross-rs/cross
        if: ${{ matrix.cross }}
      - run: cross build --release --target ${{ matrix.target }}
        if: ${{ matrix.cross }}
      - run: cargo build --release --target ${{ matrix.target }}
        if: ${{ !matrix.cross }}

      - run: Compress-Archive -Path target/${{ matrix.target }}/release/mdbook-inpage-tab.exe -DestinationPath mdbook-inpage-tab.zip
        if: ${{ matrix.os == 'windows-latest' }}
      - run: |
            cp target/${{ matrix.target }}/release/mdbook-inpage-tab mdbook-inpage-tab
            tar -zcvf assets.tar.gz mdbook-inpage-tab
        if: ${{ matrix.os != 'windows-latest'}}

      - uses: actions/download-artifact@v6
        with:
          name: release_url
      - id: get_release_info
        uses: juliangruber/read-file-action@v1
        with:
          path: release_url.txt
      - uses: shogo82148/actions-upload-release-asset@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_url: ${{ steps.get_release_info.outputs.content }}
          asset_path: ./assets.${{ matrix.os == 'windows-latest' && 'zip' || 'tar.gz' }}
          asset_name: ${{ steps.get_version.outputs.result }}.${{ matrix.os == 'windows-latest' && 'zip' || 'tar.gz' }}
          asset_content_type: ${{ matrix.os == 'windows-latest' && 'application/zip' || 'application/octet-stream' }}
